* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/bg-white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    width: 5%;
    height: 5%;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.home {
    margin-top: 55px;
}

.carousel-caption h5 {
    font-size: 20px;
}

.jumbotron {
    background-color: transparent;
}

img {
    display: block;
    width: 100%;
}

.gallery {
    width: 80%;
    margin: 20px auto;
    border: 10px solid white;
    list-style: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 5px;
}


@media (max-width: 768px) {
    .logo {
        width: 20%;
        height: 15%;
    }

}